.container{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}

.sbContainer{
   
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}
.mainContainer{
    display: flex;
}


.secondContainer{
    display: flex;
    flex-direction: column;
    
    width: 100%;
}

.btnFilters{
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size:1rem;
    cursor: pointer;
    margin-right:10px;
    padding: 10px;
    

}

.btnFilters:focus{
    outline: none;
}

.linkRefresh{
    cursor:pointer;
    text-decoration: underline;
    color: #F427EC
}
.shoppingCartImg{
    width:100%;
    height:100%;
    object-fit: contain;
}

.shContainer{
    width:40px;
    height:100%;
    margin-left: 10px;
}


/* PAGINADO  */

.paginateContainer {
    justify-content: center;
    display: flex;
    list-style: none;
  }

.paginateContainer ul {
    display: flex;
    list-style: none;
}

.paginateContainer li {
    margin: 0 1em;
    border: 1px solid white;
    padding: 0.5em 1em;
    cursor: pointer;
}

.paginateContainer li:hover {
    color:  #F427EC;
}

.paginateContainer .paginationActive {
    border: 1px solid #F427EC;
    outline: none;
}

.paginateContainer * {
    outline: none;
}

/*Responsive screen*/
@media only screen and (max-width: 480px){
    .mainContainer{
        display: flex;
        flex-direction: column;
    }
    
}