.mainContainerArtist{
    display: flex;

}

.sbContainer{
   
    display: flex;
    justify-content: center;
    margin-top: 60px;
    align-items: center;
}

.secondContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.artists{
    display: flex;
    margin-top: 15%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;

}

.btnFilters{
    border: 1px solid white;
    background-color: black;
    color: white;
    font-size:1rem;
    cursor: pointer;
    margin-right:10px;
    padding: 10px;
    

}

.btnFilters:focus{
    outline: none;
}

/*Responsive screen*/
@media only screen and (max-width: 480px){
    .mainContainerArtist{
        display: flex;
        flex-direction: column;
    }
    
}