.mainContainerArtist{
    display:flex;
}

.sbContainer{
   
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.secondContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.artists{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

/*Responsive screen*/
@media only screen and (max-width: 480px){
    .mainContainerArtist{
        display: flex;
        flex-direction: column;
    }
    
}