.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* background-color: red; */
}

.mainContainer{
    display: flex;
}


.secondContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container{
    display: flex;
    flex-direction: row;
    margin-top: 15%;
    height: auto;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}