.navContainer{
    display: flex;
    flex-direction: row;
    height: 100vh;   
}
.container{
    display: flex;
    
    margin-top: 10%;
}
.imgContainer{
    margin-right: 2%;
}
.infoContainer{
    margin-left: 2%;
}
.artistContainer{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.img{
      width: 13vmax;
    height: 16vmax;
}

.button{
    color:white;
     background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid white;
    cursor:pointer;
    padding: 10px;
    margin-left: 40%;
    margin-top: 20%;
}