.mainContainer{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.secondContainer{
    display:flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

}

.containerProduct{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width:90%;
    border: 1px solid white;
}

/* .textContainer{

} */

.img{
    width:100px;
    height: 100px;
}