.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:30%;  
    margin-bottom: 50px;
    border:1px solid white;
   
    
}

.text{
    color: white;
    text-align: center;
    
}

.linksArtCard{
    align-self: center;

}

.linksA{
    text-decoration: none;
    color:white;
}

.cardImg{
    width: 18vmax;
    height: 25vmax;
    margin-top:40px;
    
}