.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    color: white;
    margin: 10px 10px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid white;
    padding: 5px 10px;
    width: 20%;
}

.btn{
    color:white;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: 1px solid white;
    cursor:pointer;
    padding: 10px;
    position: relative;
    margin-left: 15%;
    margin-right: 15%;
} 

.btnFile {
   color:white;
   background-color: Transparent;
   background-repeat:no-repeat;
   border: 1px solid white;
   cursor:pointer;
   padding: 10px;
   position: relative;
   margin-left: 15%;
}

.file {
    margin-top: 2%;
    margin-right: 83px;
}

.btnProduct {
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 2%;
}

.divTitle {
    margin-top: 8%;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.imgContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
}

.pictureAdd{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerArtImage{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
    color: white;
    height: 40px;
    width: 200px;
    border: 1px solid white;
    cursor: pointer;
}

.progressBar{
    display: flex;
    width: 110px;
}
.inputFile{
    display:none;
}