.navContainer {
    width: 100%;
    height: 16%;
    background-color: black;
}

.navContainerSecciones {
    display: flex;
    justify-content: flex-end;
}

.secciones {
    font-size: 25px;
    font-family: 'Amiko', sans-serif;
    font-weight: 600;
    color: white;
    margin-right: 3%;
} 

.link {
    text-decoration: none;  
    margin-right: 2%;
}


.navContainer2 {
    position: fixed;
    width: 190px;
    flex-direction: column;
    background-color: black;
}

.tituloNavbar2 {
    font-size: 4rem;
    font-family: 'Amiko', sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: -0.06em;
}

.secciones2 {
    font-size: 2rem;
    font-family: 'Amiko', sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: -0.06em;
} 

.seccionMicuenta {
    font-size: 2rem;
    font-family: 'Amiko', sans-serif;
    font-weight: 600;
    color: white;
    letter-spacing: -0.06em;
}

.link2 {
    text-decoration: none;  
}

.line {
    width: fit-content;
    border-bottom: 2px solid #F427EC;
    height: 80px;
    margin-bottom: 50px;
}

.line2 {

    border-top: 2px solid #F427EC;
    height: 80px;
    margin-bottom: 50px;
}
