.mainContainer {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.secondContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 50px;
    align-items: center;
   
}

.userDesc{
    display: flex;
    width:90%;
   
    
}
.userInfo{
    display:flex;
    width:50%;
    flex-direction: column;
    align-self: flex-start;
   
    justify-content: center;
}

.containerPic{
    display: flex;
    justify-content: flex-end;
    width:50%;
    
    
}

.userPic{
    width: 220px;
    height: 220px;
    border-radius: 50%;
    border: 3px solid white;

}

.name{
    font-size: 3rem;
    line-height: 1.7em;
    margin:0;
    margin-bottom: 10px;
    border-bottom: 2px solid white;
}

.rol{
    font-size: 1.2rem;
}

.logOut{
    background-color: transparent;
    border: 1px solid white;
    color:white;
    padding:10px;
    width:30%;
    font-size: 1rem;
    justify-content: flex-end;
}
.categories{
    width:90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    border-top: 1px solid white;
    margin:50px;
}
.title{
    font-size:2rem;
}
.link{
    margin-top:20px;
    align-self: flex-end;
    font-size: 1.2rem;
    color:#F427EC
}